<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for(:title) || "Live Coding Todo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %> <%=
    javascript_importmap_tags %>
  </head>

  <body class="bg-primary-dark text-white">
    <div class="relative flex min-h-screen w-full flex-col">
      <header><%= render "shared/header" %></header>
      <div
        class="fixed right-0 top-20 flex w-full max-w-xs items-center rounded-lg text-gray-500 shadow-sm"
      >
        <%= render "shared/flash_message" %>
      </div>
      <main class="flex w-full grow items-start justify-center px-10 py-10">
        <%= yield %>
      </main>
      <footer><%= render "shared/footer" %></footer>
    </div>
  </body>
</html>
